*
{
	/*box-sizing: border-box;
	margin: 0;
	padding:0;*/
}
body
{
	/*background-color: aliceblue;*/
}

.groupMessage
 {
 	width: 100%;
   display: flex;
   flex-direction:column;
   align-items:center;
 }

 .groupMessage h1
 {
 	font-size:3em;
 }

.blocMess
 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 0em;
 }
 
 .dateMess
 {
    color: white;
    font-style: italic;
 }

.nav__links li, .nav__links li a, .btn_ouvrirMessage, .btn_envMessage{
	font-family: "Montserrat",sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #edf0f1;
	text-decoration: none;
}

.message
{
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 30px 10px;
	background-color: #24252A;
	height: 0.1px;
	width: 87%;
	margin-left: 1.5em;
	margin-top: 1em;
	box-shadow:0px 2px 10px rgba(0,0,0,0.5);
	cursor: pointer;

}

.filiereMessage
{
	color: aliceblue;
	cursor: pointer;
	margin-right: auto;
	padding-left: 1em;
	font-size:20px;
	text-transform: uppercase;
}

.navMessave
{
	margin-right: auto;
}

.nav__links 
{
	list-style: none;
}

.nav__links li
{
	display: inline-block;
	padding:0px 20px;
}

.nav__links li:nth-child(1)
{
	padding:0 20px 0 0;
}

.nav__links li a{
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
}

.btn_ouvrirMessage, .btn_envMessage
{
	margin-left: 20px;
	padding:9px 25px;
	background-color: orange;
	border: none;
	border-radius:50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}

.btn_envMessage
{
	background-color: rgba(0,136, 169,1);
}

.btn_ouvrirMessage:hover
{
	background-color: orangered;
}

.btn_envMessage:hover
{
	background-color: rgba(0,136,169,0.8 );
}
