body
{
	background-image: url(../../image/background/sto2.jpg);
	background-size: 100vw 100vh;
	overflow: hidden;
}

/*GENERAL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*les bouttons*/
button
{
	border: none;
	font-size: 1.5em;
	color: white;
	background-color: orange;
	
}

button:hover
{
	transition: color 0.3s ease-in-out;
}

button:active
{
	background-color: gold;
} 

/*FIN GENERAL $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

#opacity
{
	background-color: rgba(0, 0, 0,0.5);
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;

}
	

/*CORPS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#opacity #corps
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: auto;
	color: white;
	position: relative;
	margin-top: 5em;
}

#opacity #corps .p1,
#opacity #corps .p2	
{
	font-size: 22px; 
	text-align: center;
}

#opacity #corps .p1
{ 
	font-size: 2.5em;
	width: 20em;
}

#opacity #corps .connexion
{
	display: flex;
	justify-content: center;
	position: relative;
}

#opacity #corps .connexion #bouttonConnnexion
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 7em;
}

#opacity #corps .connexion #bouttonConnnexion #btnContinuezInconnu
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.3em;
}

#opacity #corps .connexion form
{
	display: none;
	border-radius: 20px;
	animation-name: apparition;
	animation-duration: 1s ;
}

#opacity #corps .connexion form fieldset
{
	margin: auto;
	width: 70%;
	font-size: 23px;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20em;
	border-radius: 5em 5em 5em 5em;
}

#opacity #corps .connexion form fieldset h3
{
	position: relative;
	bottom: 0.7em;
	text-align: center;
	font-size: 1.5em;
}

#opacity #corps .connexion form fieldset .champs
{
	color: white;
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 2em;
}

#opacity #corps .connexion form fieldset .champs label
{
	padding: 10px;
}

#opacity #corps .connexion form fieldset .champs input
{
	height: 2em;
	font-size: 0.7em;
	border: 2px solid gold;
	border-radius: 20em 20em 20em 20em;
	outline: none;
}

#opacity #corps .connexion form fieldset #commencer
{
	display: flex;
	justify-content: center;
}

#opacity #corps .connexion form fieldset #commencer button
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 1.3em;
}

@keyframes apparition
{
	from{opacity: 0;}
	to{ opacity: 1; }
}