body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    margin: 0;
    background-image: url(../../image/background/admin4.jpg);
    background-size: 100vw 100vh;
}

.root
{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0,0.5);
    height: 100vh;
    width: 100vw;

}

.contenaireAbout
{
    margin-top: 8em;
    width: 80%;
     color: white;
}

.contenaireAbout h1, .contenaireAbout h2 
{
    font-family: 'Lucida Calligraphy';
}

.blocImage
{
    display: flex;
    justify-content: space-between;

}
img
{
    height: 250px;
    width: 250px;
    border-radius: 2em 30em 30em 30em;
}

.img2
{
    border-radius: 30em 30em 30em 30em;
}

.img3
{
    border-radius: 30em 2em 30em 30em;
}

.text
{
    width: 80%;
    font-family: 'Roboto';
}