.modal
{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation:  apparitionModal 0.7s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.modal-form
{
	position: relative;
	width: 100vw;
	border-radius: 20px;
	top: 110px;
	animation: apparition 0.5s, apparitionDeplacement 0.5s ease-in-out;
}

.modal-fieldset
{
	margin: auto;
	font-size: 23px;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20em;
	border-radius: 2em 2em 2em 2em;
	background-color: rgba(255, 255, 255);

}

.modal-header 
{
	margin-bottom: 1em;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.close
{
	color: #ccc;
  float: right;
  font-size: 30px;
}

.close:hover
{
	color: black;
	cursor: pointer;
}

.close:active
{
	color: red;
	cursor: pointer;
}

.titre
{
	text-align: center;
	font-size: 1.5em;
	bottom: 0.7em;
	margin: 0;
	color: green;
}

.modal-champs
{
	color: green;
	display: flex;
	flex-direction: column;
	
	font-family: 'Lucida Sans';
}

.champOne
{
	position: relative;
	bottom: 1em;
}

.champTwo
{

	position: relative;
	bottom: 1em;
}
.modal-checkbox
{
	display: flex;
	flex-direction: row;
	position: relative;
	margin-top: 0em;
	font-family: 'Lucida Sans';
}

.modal-label 
{
	padding: 10px;
	font-family: 'comic Sans MS';
	font-size:0.7em;
	font-style: bold;
}

.modal-input
{
	height: 2em;
	font-size: 0.7em;
	border: 2px solid rgba(0, 0, 0,0.3);
	border-radius: 20em;
	outline: none;
	transition: border 0.2s /*ease-in-out*/;
}

.modal-input:focus
{
	border: 2px solid gold;

}

.modal-button
{
	font-size: 1.5em;
	color: white;
	background-color: orange;
	border: none;
}

.modal-button:hover
{
	transition: all 0.3s ease-in-out;
	color: green;
}
.infoIncorrect
{
	text-align: center;
}


#connexion
{
	display: flex;
	justify-content: center;
}

#connexion input:active
{
	outline: none;
}

.modal-button a
{
	text-decoration: none;
	font-size: 0.8em;
	color: white;
}
.modal-button a:hover
{
	transition: all 0.3s ease-in-out;
	color: green;
}

#connexion button
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20em 20em 20em 20em;
	width: 5em;
	height: 1.3em;
}

@keyframes apparition
{
	from{opacity: 0;}
	to{ opacity: 1; }
}

@keyframes apparitionDeplacement
{
	from{top: 0px;}
	to{top: 110px; }
}

@keyframes apparitionModal
{
	from{background-color: rgba(0, 0, 0,0);}
	to{background-color: rgba(0, 0, 0, 0.5);}
}