body
{
	background: linear-gradient(.25turn, yellow, 40%, red); /*on atteint la couleur intermédiaire a 10%*/
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../../image/background/sto2.jpg);
	background-size: 100vw 100vh;
}

#contenaireContact
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
	height: 80vh;
	width: 90%;
	background-color: 	rgba(0, 0, 0, 0.5);
	margin-top: 5.5em;
}

/*BLOCK 1:  CONTENAIRE INFO CONTACT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#contenaireContact .contenaireInfoContact   
{
	font-family: 'Lucida Sans';
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: rgba(2, 48,71, 1);
	height: 100%;
	width: 30%;
	color: white;

}

#contenaireContact .contenaireInfoContact .infoContact
{
	width: 20em;
	margin: 5px;
	margin: 0;
	padding: 0;
}

#contenaireContact .contenaireInfoContact .infoContact h2
{
	padding: 0;
	margin-top: 15px;
	font-size: 2.2em;
	margin-bottom: 1em;
}

#contenaireContact .contenaireInfoContact .infoContact .localisation,
#contenaireContact .contenaireInfoContact .infoContact .email,
#contenaireContact .contenaireInfoContact .infoContact .telephone
{
	display: flex;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 0.9em;
}

#contenaireContact .contenaireInfoContact .infoContact img
{
	max-width: 25px;
}

#contenaireContact .contenaireInfoContact .infoContact .localisation span,
#contenaireContact .contenaireInfoContact .infoContact .email span,
#contenaireContact .contenaireInfoContact .infoContact .telephone span
{
	margin-top: 15px;
}

#contenaireContact .contenaireInfoContact .infoContact .localisation div,
#contenaireContact .contenaireInfoContact .infoContact .email div,
#contenaireContact .contenaireInfoContact .infoContact .telephone div
{
	padding-left:10px ;
}


#contenaireContact .contenaireInfoContact .infoContact .logoContact
{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 150px;
	margin-top: 40px;
	margin-left: 70px;
}

#contenaireContact .contenaireInfoContact .infoContact .logoContact span
{
	margin-right: 20px;
}

#contenaireContact .contenaireInfoContact .infoContact .logoContact span img
{
	margin: 0;
	padding: 0;
	filter: invert(1);
}

/*BLOCK 2:  CONTENAIRE FORMULAIRES CONTACT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#contenaireContact .contenaireFormulaireContact
{
	height: 100%;
	width: 40em;
	display: flex;
	align-items: center;
	justify-content: right;
	margin-right: 100px;
}

#contenaireContact .contenaireFormulaireContact h2
{
	color: white;
	margin-bottom: 50px;
	font-size: 2em;
}

#contenaireContact .contenaireFormulaireContact form
{
	width: 30em;
	margin-right: 5px;
}

#contenaireContact .contenaireFormulaireContact form .formulaireContact-1,
#contenaireContact .contenaireFormulaireContact form .formulaireContact-2
{
	display: flex;
	justify-content: space-between;
}


#contenaireContact .contenaireFormulaireContact form .blocInput.hInput 
{
	display: flex;
	flex-direction: column;	
	height: 65px;
	width: auto;
	color: white;
}

#contenaireContact .contenaireFormulaireContact form .blocInput.hTextarea
{
	display: flex;
	flex-direction: column;	
	color: white;

}

#contenaireContact .contenaireFormulaireContact form .blocInput input
{
	height: 2.5em;
	width: 17em;
	color: white;
}

#contenaireContact .contenaireFormulaireContact form .blocInput textarea
{
	border: none;
	border-bottom: 1.5px orange solid;
	height: 170px;
	color: white;
}

#contenaireContact .contenaireFormulaireContact form .blocInput input,
#contenaireContact .contenaireFormulaireContact form .blocInput textarea
{
	border: none;
	border-bottom: 1.5px orange solid;
	resize: none;
	outline: none;
	background-color: inherit;
	transition: border-color 0.3s ease-in-out;
}


#contenaireContact .contenaireFormulaireContact form .blocInput.hInput span  /*on prend ca pour l'instant*/
{
	position: relative;
	bottom: 25px;
	transition: 0.3s;
	pointer-events: none;
}

#contenaireContact .contenaireFormulaireContact form .blocInput.hTextarea span  /*on prend ca pour l'instant*/
{
	position: relative;
	bottom: 160px;
	transition: 0.3s;
	pointer-events: none;
}

#contenaireContact .contenaireFormulaireContact form .blocInput input:focus ~span,
#contenaireContact .contenaireFormulaireContact form .blocInput input:valid ~span
{
	transform: translateY(-30px);
}

#contenaireContact .contenaireFormulaireContact form .blocInput textarea:focus ~span,
#contenaireContact .contenaireFormulaireContact form .blocInput textarea:valid ~span
{
	transform: translateY(-35px);
}

#contenaireContact .contenaireFormulaireContact form .blocInput input:valid,
#contenaireContact .contenaireFormulaireContact form .blocInput textarea:valid

{
	border-bottom: 1.5px yellowgreen solid;
}

#contenaireContact .contenaireFormulaireContact form .blocInput .email:focus ~span,
#contenaireContact .contenaireFormulaireContact form .blocInput .email:not(:valid) ~span
{
	transform: translateY(-30px);
}

#contenaireContact .contenaireFormulaireContact form .blocInput input:focus ,
#contenaireContact .contenaireFormulaireContact form .blocInput textarea:focus  
{
	border-bottom: 1.5px gold solid;
}

#contenaireContact .contenaireFormulaireContact form .boutouEnvoie
{
	width: auto;
}

#contenaireContact .contenaireFormulaireContact form .boutouEnvoie input
{
	width: 100%;
	height: 30px;
	background-color: orange; 
	border: none;
}

#contenaireContact .contenaireFormulaireContact form .boutouEnvoie input:hover
{
	background-color: darkorange;
}

#contenaireContact .contenaireFormulaireContact form .boutouEnvoie input:active
{
	outline: none;
	background-color: gold;
}








