body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*SECTION D'IMAGES DES EVENENEMNT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.contenaireEvents section 
{
  font-family: 'Times New Roman';
  display: flex;
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 1em ;
}

.contenaireEvents section:nth-child(odd)>div 
{
  margin-left: 1em;
  padding-right: 0;

}
.contenaireEvents section:nth-child(odd)
{
  display: flex;
  flex-direction:row-reverse;
  margin-left: 1em;
  margin-right: 1em ;
}

.contenaireEvents section figure
{
    display: flex;
    justify-content:space-between;
    margin-left: 2em;
}



.groupInfoEvent
{
    width:50vw;
    padding-right: 1em;
}

.h2-space
{
  margin-bottom: 0;
  font-family: "Lucida Handwriting","Comic Sans MS", "Times New Roman", sans-serif;
}

.h3-description
{
  line-height: 1px;
}

.imageEvent
 {
  height: 72vh;
  width:50vw;
  padding-left: 0;
  transition: all 0.3s;
 }

 .infoEventHorizontal
 {
  display: flex;
  justify-content:space-between;
  margin-top: 0;
 }

 .contenaireDescription
 {
     margin-top:0;
 }


/*SECTION D'IMAGES DES EVENENEMNT* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$/

/*DEFILEMENT D'IMAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*  
@keyframes animation_slide {
0% {left:0}
20%{left:0}

25%{left:-100%}
45%{left:-100%}

50%{left:-200%}
70%{left:-200%}

75%{left:-300%}
95%{left:-300%}

100%{left:-400%}}*/

@keyframes animation_slide {
  
0% {transform:translatex(0)}
20%{transform:translatex(0)}

25%{transform:translatex(-20%)}
45%{transform:translatex(-20%)}

50%{transform:translatex(-40%)}
70%{transform:translatex(-40%)}

75%{transform:translatex(-60%)}
95%{transform:translatex(-60%)}

100%{transform:translatex(-80%)}
  
  }

.groupDefileImage
{
position:relative;
width:500%;
margin-top:0px;
height:100vh;
animation:30s animation_slide infinite;   
}

@media (min-width:62.75rem){
    
.groupDefileImage div{
  object-fit:cover; /*pour l'écran du téléphone*/
  }
}
  
.groupDefileImage div{
  
  pointer-events:none;
  height:100vh;
  object-fit:contain;
  float:left;
  width:20%;
  display:flex;
  justify-content:center;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.groupDefileImage .div1
{
  background-color: goldenrod;
  background-image: url('../../image/background/spot1.jpg');
  background-size: 100% 100%;
  color:white;
}

.groupDefileImage .div2
{
  background-color: orangered;
  background-image: url('../../image/background/confInp1.jpg');
  background-size: 100% 100%;
}

.groupDefileImage .div3
{
  background-color: green;
  background-image: url('../../image/background/fete.jpg');
  background-size: 100% 100%;

}

.groupDefileImage .div4
{
  background-color: magenta;
  background-image: url('../../image/background/inp1.jpg');
  background-size: 100% 100%;
  color: white;
}

.groupDefileImage div .opacity
{
  background-color: rgba(0, 0, 0,0.3);
  width: 100vw;
}

.text
{
  margin-left: 5em;
  width: 50vw;
  color: white;
  
}

.text h1
{
  font-size: 5em;
  margin-bottom: 0;
}

.text p
{
  font-size: 2em;
  margin-top: 10px;
}

/*DEFILEMENT D'IMAGE $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

