body {
    background-image: url(../../image/background/brecep2.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#root
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 85vh;
    background-color:   rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    margin-top: 5em;
    margin-left: 5em;

}
#root .blocTitle 
{
    color: white;
}

#root  h1{
    margin: auto;
    color: white;
    width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 2em;
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0.3);
}

input, textarea
{
    color: white;
}
.input_span, .textarea_span
{
    color: orange;
}

#root .main {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:center;
}

#root .main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    width: 57%;
}

#root .main form .contenaireReservation
{
    display: flex;
    flex-direction: row;
}

#root .main form .contenaireReservation .contenaireChamp
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*CHAMP !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#root .main form .contenaireReservation .contenaireChamp .blocInput
{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
}

#root .main form .contenaireReservation .contenaireChamp .blocInput input
{
    width: 20em;
    margin-top: 1em;
    border: none;
    border-bottom: 1px orange solid;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;
    font-family: 'ERAS DEMI ITC';
    font-size: 1em;
}

#root .main form .contenaireReservation .contenaireChamp .blocInput textarea
{
    border: none;
    border-bottom: 1px orange solid;
    height: 170px;
    width: 100%;
    margin-top: 1em;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;
    font-family: 'ERAS DEMI ITC';
    font-size: 1em;

}

#root .main form .contenaireReservation .contenaireChamp .blocInput input:focus,
#root .main form .contenaireReservation .contenaireChamp .blocInput textarea:focus
{
    border-bottom: 1px gold solid;
}

#root .main form .boutouEnvoie
{
    margin-bottom: 0px;
    margin-top: 1em;
}

#root .main form .boutouEnvoie input
{
    width: 100%;
    height: 30px;
    background-color: orange; 
    border: none;
}

#root .main form .boutouEnvoie input:hover
{
    background-color: darkorange;
}

#root .main form .boutouEnvoie input:active
{
    outline: none;
    background-color: gold;
}




