@font-face 
{
    font-family: 'ERAS DEMI ITC';
    src: url('../../police/eras-demi-itc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../../image/background/brecep2.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
input[disabled] /*Lui combiné a Disabled[*/ 
{
    color:white;
}

textarea[disabled] /*Lui combiné a Disabled[*/ 
{
    color:white;
}

#root
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 85vh;
    width: 95%;
    background-color:   rgba(0, 0, 0, 0.4);
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 1.5em;

}

#root .blocTitle 
{
    color: white;
}

#root  h1{
    margin: auto;
    color: white;
    width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0.3);
}

#root .main {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    font-family: 'ERAS DEMI ITC';
}

#root .main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    width: 57%;
}

#root .main form .contenaireReservation
{
    display: flex;
    flex-direction: row;
}

#root .main form .contenaireReservation .contenaireChamp
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26.7em;
}

/*CHAMP !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#root .main form .contenaireReservation .contenaireChamp .blocInput
{
    margin-bottom: 1em;
}

#root .main form .contenaireReservation .contenaireChamp .blocInput .choixFichier-span
{
    color: rgba(255, 255, 255, 0.5);
}

#root .main form .contenaireReservation .contenaireChamp .blocInput input
{
    height: 2.5em;
    width: 20em;

    border: none;
    border-bottom: 1px black solid;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;
    font-family: 'ERAS DEMI ITC';
    font-size: 1em;
}

#root .main form .contenaireReservation .contenaireChamp .blocInput textarea
{
    border: none;
    border-bottom: 1px black solid;
    height: 170px;
    width: 21em;

    border-bottom: 1px black solid;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;

    font-family: 'ERAS DEMI ITC';
    font-size: 1em;

}

#root .main form .contenaireReservation .contenaireChamp .blocInput input:focus,
#root .main form .contenaireReservation .contenaireChamp .blocInput textarea:focus
{
    border-bottom: 1px gold solid;
}

/*BOUTTON ET COMBO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#root .main form .contenaireReservation .contenaireBoutton
{
    display: flex;
    flex-direction: column;
    height: 26.7em;
    margin-left: 2em;
}

#root .main form .contenaireReservation .contenaireBoutton .bouttonEtCombo,
#root .main form .contenaireReservation .contenaireBoutton .choixFichier
{
    margin-bottom: 2.25em;
}

#root .main form .contenaireReservation .contenaireBoutton .choixFichier .choixFichier-span
{
    display: block;
    font-family: 'ERAS DEMI ITC';
    font-size: 1em;
}

#root .main form .contenaireReservation .contenaireBoutton .choixFichier .choixFichier-span
{
    position: relative;
    bottom: 7px;
    color: rgba(255, 255, 255, 0.5);
}

#root .main form .contenaireReservation .contenaireBoutton .bouttonEtCombo select,
#root .main form .contenaireReservation .contenaireBoutton .choixFichier input
{
    border: none;
    border-bottom: 1px black solid;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;
    width: 20em;

    font-family: 'ERAS DEMI ITC';
    font-size: 1em;

}

#root .main form .boutouEnvoie
{
    width: 43em;
    margin-bottom: 0px;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

#root .main form .boutouEnvoie .boutouEnvoie_accept, .boutouEnvoie_refuse
{
    width: 40%;
    height: 30px;
    background-color: green; 
    border: none;
    font-family: 'ERAS DEMI ITC';
    font-size: 1em;
}

#root .main form .boutouEnvoie .boutouEnvoie_accept:hover
{
    background-color: darkgreen;
}

#root .main form .boutouEnvoie .boutouEnvoie_refuse:hover
{
    background-color: darkred;
}

#root .main form .boutouEnvoie .boutouEnvoie_accept:active
{
    outline: none;
    background-color: yellowgreen;
}

#root .main form .boutouEnvoie .boutouEnvoie_refuse:active
{
    outline: none;
    background-color: palevioletred;
}

#root .main form .boutouEnvoie .boutouEnvoie_refuse
{
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;

}

#root .main .contenaireImage
{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 43%;
}
#root .main .contenaireImage .blocImage
{
    display:flex;
    flex-direction:column;
    align-items:center;
    color: white;
}

#root .main .contenaireImage .blocImage img
{
    width: 20em;
    height: 10em;
}

#root .main form .contenaireReservation .contenaireChamp .blocInput input:focus,
#root .main form .contenaireReservation .contenaireChamp .blocInput textarea:focus
{
    border-bottom: 1px gold solid;
}

#root .main form .contenaireReservation .contenaireBoutton .choixFichier input:focus
{
    border-bottom: 1px gold solid;
}



