body
{
    background-image: url(../../image/background/res2.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed    ;
    overflow-x: hidden;
}

.contenuAdmin
 {
 	margin-top:5em;
 	display: flex;
 	flex-direction:column;
   width: 100vw;
   height: 100vh;
 }

 .contenuAdmin h1
 {
    font-size:3em;
    color: white;
    font-style: italic;
    font-weight: 80000px;

    margin-left: 1.5em;
 }


 
 .groupMessage
 {
 	width: 100%;
 }

 .groupMessage h1
 {
 	font-size:3em;
 }