body
{
   background-image: url(../../image/background/res2.jpg);
   background-size: 100vw 100vh;
   background-attachment: fixed;
   overflow-x: hidden;
}

.contenuAdmin
 {
 	margin-top:5em;
 	display: flex;
 	flex-direction:column;
   width: 100vw;
   height: 100vh;
   z-index: -100000;

 }
 .contenuAdmin h1
 {
   margin-left: 1.5em;
   font-size:3em;
   color: white;
   font-style: italic;
 }