@font-face 
{
    font-family: 'ERAS DEMI ITC';
    src: url('../../police/eras-demi-itc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../../image/background/res2.jpg);
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: white;
}
.choixFichier input
{
    color: white;
}

#root
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 80vh;
    width: 95%;
    background-color: rgba(0, 117, 30, 0.);
    background-color: rgba(217, 165, 33, 0.7);
    background-color: rgba(138, 43, 227, 0.7);
    background-color: rgba(0, 0, 255, 0.7);
    background-color: rgba(0, 128, 0, 0.7);
    background-color: rgba(128, 0, 128,0.7);
    background-color:   rgba(0, 0, 0, 0.5);
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 1.5em;
}

#root h1{
    width: 800px;
    margin: auto;
    color: black;
    text-align: center;
    border-radius: 18px, 18px, 0px, 0px;

    font-size:2.4em;
    color: white;
    font-style: italic;
}

#root .main {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    font-family: 'ERAS DEMI ITC';
}

#root .main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    width: 57%;
}

#root .main form .contenaireReservation
{
    display: flex;
    flex-direction: row;

}

#root .main form .contenaireReservation .contenaireChamp
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*CHAMP !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#root .main form .contenaireReservation .contenaireChamp .blocInput
{
    margin-bottom: 1em;
}

#root .main form .contenaireReservation .contenaireChamp .blocInput input
{
    height: 2.5em;
    width: 20em;

    border: none;
    border-bottom: 1px black solid;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;
    font-family: 'ERAS DEMI ITC', 'Montserrat', Roboto;
    font-size: 1em;
}

#root .main form .contenaireReservation .contenaireChamp .blocInput textarea
{
    border: none;
    border-bottom: 1px black solid;
    height: 170px;
    width: 21em;

    border-bottom: 1px black solid;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;

    font-family: 'ERAS DEMI ITC';
    font-size: 1em;

}

#root .main form .contenaireReservation .contenaireChamp .blocInput input:focus,
#root .main form .contenaireReservation .contenaireChamp .blocInput textarea:focus
{
    border-bottom: 1px gold solid;

}

/*BOUTTON ET COMBO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#root .main form .contenaireReservation .contenaireBoutton
{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.inp
{
     color: white;
}

option
{
     color: black;
}

.optHColor
{
     color: gray;
}

#root .main form .contenaireReservation .contenaireBoutton .bouttonEtCombo,
#root .main form .contenaireReservation .contenaireBoutton .choixFichier
{
    margin-bottom: 2.25em;
    color: white;
}

#root .main form .contenaireReservation .contenaireBoutton .choixFichier .choixFichier-span
{
    display: block;
    font-family: 'ERAS DEMI ITC';
    font-size: 1em;
}

#root .main form .contenaireReservation .contenaireBoutton .choixFichier .choixFichier-span
{
    position: relative;
    bottom: 7px;
    color: rgba(255, 255, 255, 0.5);
}

#root .main form .contenaireReservation .contenaireBoutton .bouttonEtCombo select,
#root .main form .contenaireReservation .contenaireBoutton .choixFichier input
{
    border: none;
    border-bottom: 1px black solid;
    resize: none;
    outline: none;
    background-color: inherit;
    transition: border-color 0.3s ease-in-out;
    width: 20em;

    font-family: 'ERAS DEMI ITC';
    font-size: 1em;

}

#root .main form .boutouEnvoie
{
    width: 43em;
}

#root .main form .boutouEnvoie input
{
    width: 100%;
    height: 30px;
    background-color: orange; 
    border: none;
    font-family: 'ERAS DEMI ITC';
    font-size: 1em;
}

#root .main form .boutouEnvoie input:hover
{
    background-color: darkorange;
}

#root .main form .boutouEnvoie input:active
{
    outline: none;
    background-color: gold;
}

#root .main .contenaireImage
{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 43%;
}

#root .main .contenaireImage .blocImage
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#root .main .contenaireImage .blocImage .imagesEspace
{
    width: 20em;
    height: 10em;
}


